.primary {
	
/* First level
----------------------------------------- */
	& > ul {
		background: red;
		position: relative;
		
		& > li {
			display: inline-block;
		}
	}
	
	
/* Second level
----------------------------------------- */	
	& > ul > li > ul {
		position: absolute;
		background: green;
		left: 0;
		right: 0;
		column-count: 4;
		
		& > li {
			break-inside: avoid;
			background: blue;
			
			& > a {
				background: purple;
			}
		}
	}


} // .primary